
header {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 113, 1) 35%, rgba(0, 212, 255, 1) 100%);
  color: white;
}

header .nav-link {
  color: black;
  transition: color 0.3s;
}

header .nav-link:hover {
  color: #ffdd57;
}

header .logo {
  height: 70px;
  width: 70px;
  margin-bottom: -11px;
  margin-top: -13px;
}

header .logo-text {
  display: flex;
  align-items: center;
  margin-right: 30em;
  font-weight: lighter;
  color: rgba(0, 212, 255, 1);
  font-size: 1.5em;
  font-family: "Lucida Console", "Courier New", monospace;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

