<div class="container">
  <header class="py-3 mb-4 shadow-sm">
    <div class="container d-flex justify-content-between align-items-center">
      <img src="assets/logo.png" alt="Logo" class="logo mr-3">
      <h5 class="logo-text">task master ai</h5>
      <nav class="nav">
        <a class="nav-link" routerLink="/Login">Login</a>
        <a class="nav-link" routerLink="/about">About Us</a>
        <a class="nav-link" routerLink="/contact">Contact</a>
      </nav>
    </div>
  </header>
  <main>
    <div class="row chat-div">
      <section class="col-sm-9">
        <app-chat></app-chat>
      </section>
      <section class="col-sm-3">
        <app-chat-history></app-chat-history>
      </section>
    </div>
  </main>
  <footer class="text-center mt-4">
    <p>&copy; 2025 My Angular App</p>
  </footer>
</div>
